<ol>
  <li>
    <label for="companyReport">companyReport</label>
    <f:form.textfield property="companyReport" id="companyReport" />
  </li>

  <li>
    <label for="businessSchoolReport">businessSchoolReport</label>
    <f:form.textfield property="businessSchoolReport" id="businessSchoolReport" />
  </li>

  <li>
    <label for="year">year</label>
    <f:form.textfield property="year" id="year" />
  </li>

  <li>
    <label for="week">week</label>
    <f:form.textfield property="week" id="week" />
  </li>

  <li>
    <f:form.submit value="Create" />
  </li>
</ol>
