<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><f:render section="Title" />Berichtsheft Max Hellwig</title>
    <link rel="stylesheet" href="{f:uri.resource(path: 'Stylesheets/layout.css')}" media="all"/>
    <link rel="stylesheet" href="{f:uri.resource(path: 'Stylesheets/print.css')}" media="print"/>

    <link rel="stylesheet" href="{f:uri.resource(path: 'Stylesheets/font-awesome/css/font-awesome.min.css')}" media="all"/>
    <link rel="stylesheet" href="{f:uri.resource(path: 'Stylesheets/font-awesome/css/font-awesome.min.css')}" media="all"/>

    <script src="{f:uri.resource(path: 'Javascripts/jquery-2.1.0.min.js')}" ></script>

    <script src="{f:uri.resource(path: 'Javascripts/ckeditor/ckeditor.js')}"></script>
    <script src="{f:uri.resource(path: 'Javascripts/savePage.js')}"></script>



		<f:base />
	</head>
	<body>
  <header>
    <a href="/"><img src="{f:uri.resource(path: 'Images/logoKlein.png')}"/></a>
    <f:render partial="Header"/>
  </header>
		<f:flashMessages class="flashmessages" />

    <div class="page-wrapper">
		  <f:render section="Content" />
    </div>
  <script>
    CKEDITOR.replace('.ckeditor');
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      /* Hier der jQuery-Code
      $('.toggle').hide();
      $('.page-wrapper').prepend('<i class="fa fa-toggle-up 2x">Show hidden</i>');
      $('.fa-toggle-up').click(function() {
        $('.toggle').show();
        if($('.fa-toggle-down').length <1) {
          $('.page-wrapper').prepend('<i class="fa fa-toggle-down 2x">Hide filled</i><br>');
        }
      });
      $('.page-wrapper').on('click', '.fa-toggle-down', function(event){
        $('.toggle').hide();
      });*/
    });
  </script>
	</body>
</html>
