<f:layout name="Default" />

<f:section name="Title">Edit report page "{reportPage.year} - {reportPage.week}" Number: {reportPage.reportNumber}</f:section>

<f:section name="Content">
	<f:form action="update" object="{reportPage}" objectName="reportPage">
<div class="report-page-wrapper">
      <div class="header">
        <div class="col6">
          <p class="name">
            <span id="name-angabe">
              Nachname, Vorname
            </span>
          </p>
          <p>
            Hellwig, Maximilian
          </p>
          <p class="ausbildungsnachweisnummerX">
            Ausbildungsnachweis Nr.: {reportPage.reportNumber}
          </p>
        </div>
        <div class="col6">
          <p class="datum">
            für die Woche vom {reportPage.startDateTime -> f:format.date(format: 'd.m.Y')} bis {reportPage.endDateTime -> f:format.date(format: 'd.m.Y')}
          </p>
          <p class="ausbildungsjahr">
            Ausbildungsjahr:
          </p>
        </div>
      </div>
      <div class="main">
        <div class="betrieblich">
          <p id="betriebliche-taetigkeit">
            Betriebliche Tätigkeit
          </p>
          <div class="content">
            <f:form.textarea property="companyReport" id="companyReport" class="ckeditor" rows="10" cols="177"/>
          </div>
        </div>
        <div class="unterweisung">
          <p id="unterweisung">
            Unterweisungen, betrieblicher Unterricht, sonstige Schulungen
          </p>
          <div class="content">
            <f:form.textarea property="instructions" id="instruction" class="ckeditor" rows="10" cols="177"/>
          </div>
        </div>
        <div class="schulisch">
          <p id="berufschule-themen">
            Berufsschule (Unterrichtsthemen)
          </p>
          <div class="content">
            <f:form.textarea property="businessSchoolReport" id="businessSchoolReport" class="ckeditor" rows="10" cols="177" />
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="col6">
          <p class="datum-lastofweek">
            Datum: {reportPage.endDateTime -> f:format.date(format: 'd.m.Y')}
          </p>
          <p class="unterschrift">
            ______________________________________________________
          </p>
          <p>Unterschrift Auszubildener</p>
        </div>
        <div class="col6">
          <p class="datum-lastofweek">
            Datum: {reportPage.endDateTime -> f:format.date(format: 'd.m.Y')}
          </p>
          <p class="unterschrift">
            ______________________________________________________
          </p>
          <p>Unterschrift Ausbilder</p>
        </div>
      </div>
    </div>
    <f:form.button value="Update" type="submit"><i class="fa fa-save fa-2x"></i></f:form.button>
	</f:form>
  <f:link.action action="index" class="flow-link"><i class="fa fa-list fa-2x"></i></f:link.action>
</f:section>
