<f:layout name="Default" />

<f:section name="Title">A list of report pages</f:section>

<f:section name="Content">
    <f:link.action action="list" class="flow-link">Show content of All</f:link.action>
    <f:if condition="{reportPages}">
      <f:then>
          <table>
            <thead>
              <tr>
                <td>Report</td>
                <td>Betriebliche Tätigkeit</td>
                <td>Unterweisungen</td>
                <td>Berufsschul Themen</td>
                <td>Edit</td>
              </tr>
            </thead>
            <tbody>
                <f:for each="{reportPages}" as="reportPage" reverse="True" iteration="iterator">
            <tr>
              <td>
                Nr.: {iterator.cycle} - <f:link.action action="show" arguments="{reportPage: reportPage}"><f:format.date format="d.m.Y - W" >{reportPage.startDateTime}</f:format.date> - <f:format.date format="d.m.Y" >{reportPage.endDateTime}</f:format.date></f:link.action>

              </td>
              <td>
                  <f:if condition="{0: reportPage.companyReport} == {0: ''}" >
                    <f:then>
                      <i class="fa fa-times-circle-o fa-2x" title="Not filled!" />
                    </f:then>
                    <f:else>
                      <i class="fa fa-check-circle-o fa-2x" title="Filled!" />
                    </f:else>
                  </f:if>
              </td>
              <td>
                  <f:if condition="{0: reportPage.instructions} == {0: ''}" >
                    <f:then>
                      <i class="fa fa-times-circle-o fa-2x" title="Not filled!" />
                    </f:then>
                    <f:else>
                      <i class="fa fa-check-circle-o fa-2x" title="Filled!" />
                    </f:else>
                  </f:if>
              </td>
              <td>
                  <f:if condition="{0: reportPage.businessSchoolReport} == {0: ''}">
                    <f:then>
                      <i class="fa fa-times-circle-o fa-2x" title="Not filled!" />
                    </f:then>
                    <f:else>
                      <i class="fa fa-check-circle-o fa-2x" title="Filled!"/>
                    </f:else>
                  </f:if>
              </td>
              <td>
                <f:link.action action="edit" arguments="{reportPage: reportPage}"><i class="fa fa-pencil fa-2x" title="Edit" ></i></f:link.action>
              </td>

            </tr>
            </f:for>
            </tbody>
          </table>
      </f:then>
      <f:else>
        <p>No report pages created yet.</p>
      </f:else>
    </f:if>
</f:section>
