<f:layout name="Default"/>
<f:section name="Title"></f:section>

<f:section name="Content">
  <f:link.action action="index" class="flow-link"><i class="fa fa-list fa-2x"></i></f:link.action>
  <f:for each="{reportPages}" as="reportPage" reverse="TRUE">
    <f:if condition="{0: reportPage.companyReport, 1: reportPage.instructions, 2: reportPage.businessSchool.reportPage} == {0: '', 1: '', 2: ''}">
      <f:then>
        <div class="report-page-wrapper">
      </f:then>
      <f:else>
        <div class="report-page-wrapper">

      </f:else>
    </f:if>
      <div class="header">
        <div class="col6">
          <p class="name">
            <span id="name-angabe">
              Nachname, Vorname
            </span>
          </p>
          <p>
            Hellwig, Maximilian
          </p>
          <p class="ausbildungsnachweisnummer">
            Ausbildungsnachweis Nr.:
          </p>
        </div>
        <div class="col6">
          <p class="datum">
            für die Woche vom {reportPage.startDateTime -> f:format.date(format: 'd.m.Y')} bis {reportPage.endDateTime -> f:format.date(format: 'd.m.Y')}
          </p>
          <p class="ausbildungsjahr">
            Ausbildungsjahr:
              <f:if condition="{reportPage.startDateTime -> f:format.date(format: 'Y')} == 2012">
                  <f:then>
                      1
                  </f:then>
              </f:if>
              <f:if condition="{reportPage.startDateTime -> f:format.date(format: 'Y')} == 2013">
                  <f:then>
                      <f:if condition="{reportPage.startDateTime -> f:format.date(format: 'W')} <= 35">
                          <f:then>
                              1
                          </f:then>
                          <f:else>
                              2
                          </f:else>
                      </f:if>
                  </f:then>
              </f:if>
              <f:if condition="{reportPage.startDateTime -> f:format.date(format: 'Y')} == 2014">
                  <f:then>
                      <f:if condition="{reportPage.startDateTime -> f:format.date(format: 'W')} <= 35">
                          <f:then>
                              2
                          </f:then>
                          <f:else>
                              3
                          </f:else>
                      </f:if>
                  </f:then>
              </f:if>
              <f:if condition="{reportPage.startDateTime -> f:format.date(format: 'Y')} == 2015">
                  <f:then>
                      <f:if condition="{reportPage.startDateTime -> f:format.date(format: 'W')} <= 35">
                          <f:then>
                              3
                          </f:then>
                          <f:else>
                              4
                          </f:else>
                      </f:if>
                  </f:then>
              </f:if>
          </p>
        </div>
      </div>
      <div class="main">
        <div class="betrieblich">
          <p id="betriebliche-taetigkeit">
            Betriebliche Tätigkeit
          </p>
          <div class="content">
            <f:format.raw>{reportPage.companyReport}</f:format.raw>
          </div>
        </div>
        <div class="unterweisung">
          <p id="unterweisung">
            Unterweisungen, betrieblicher Unterricht, sonstige Schulungen
          </p>
          <div class="content">
            <f:format.raw>{reportPage.instructions}</f:format.raw>
          </div>
        </div>
        <div class="schulisch">
          <p id="berufschule-themen">
            Berufsschule (Unterrichtsthemen)
          </p>
          <div class="content">
            <f:format.raw>{reportPage.businessSchoolReport}</f:format.raw>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="col6">
          <p class="datum-lastofweek">
            Datum: {reportPage.endDateTime -> f:format.date(format: 'd.m.Y')}
          </p>
          <p class="unterschrift">
            <hr>
          </p>
          <p>Unterschrift Auszubildener</p>
        </div>
        <div class="col6">
          <p class="datum-lastofweek">
            Datum: {reportPage.endDateTime -> f:format.date(format: 'd.m.Y')}
          </p>
          <p class="unterschrift">
            <hr>
          </p>
          <p>Unterschrift Ausbilder</p>
        </div>
      </div>
      <f:link.action action="edit" arguments="{reportPage: reportPage}"><i class="fa fa-pencil fa-2x" title="Edit" ></i></f:link.action>
    </div>
  </f:for>
</f:section>
