<f:layout name="Default" />

<f:section name="Title">Show report page"{reportPage.name}"</f:section>

<f:section name="Content">
  <div class="report-page-wrapper">
    <div class="header">
      <div class="col6">
        <p class="name">
            <span id="name-angabe">
              Nachname, Vorname
            </span>
        </p>
        <p>
          Hellwig, Maximilian
        </p>
        <p class="ausbildungsnachweisnummer">
          Ausbildungsnachweis Nr.: {reportPage.reportNumber}
        </p>
      </div>
      <div class="col6">
        <p class="datum">
          für die Woche vom {reportPage.startDateTime -> f:format.date(format: 'd.m.Y')} bis {reportPage.endDateTime -> f:format.date(format: 'd.m.Y')}
        </p>
        <p class="ausbildungsjahr">
          Ausbildungsjahr:
                    <f:if condition="{reportPage.startDateTime -> f:format.date(format: 'Y')} == 2012">
                        <f:then>
                            1
                        </f:then>
                    </f:if>
                    <f:if condition="{reportPage.startDateTime -> f:format.date(format: 'Y')} == 2013">
                        <f:then>
                                <f:if condition="{reportPage.startDateTime -> f:format.date(format: 'W')} <= 35">
                                   <f:then>
                                       1
                                   </f:then>
                                    <f:else>
                                        2
                                    </f:else>
                                </f:if>
                        </f:then>
                    </f:if>
                    <f:if condition="{reportPage.startDateTime -> f:format.date(format: 'Y')} == 2014">
                        <f:then>
                                <f:if condition="{reportPage.startDateTime -> f:format.date(format: 'W')} <= 35">
                                   <f:then>
                                       2
                                   </f:then>
                                    <f:else>
                                        3
                                    </f:else>
                                </f:if>
                        </f:then>
                    </f:if>
                    <f:if condition="{reportPage.startDateTime -> f:format.date(format: 'Y')} == 2015">
                        <f:then>
                                <f:if condition="{reportPage.startDateTime -> f:format.date(format: 'W')} <= 35">
                                   <f:then>
                                       3
                                   </f:then>
                                    <f:else>
                                        4
                                    </f:else>
                                </f:if>
                        </f:then>
                    </f:if>

        </p>
      </div>
    </div>
    <div class="main">
      <div class="betrieblich">
        <p id="betriebliche-taetigkeit">
          Betriebliche Tätigkeit
        </p>
        <div class="content">
          <f:format.raw>{reportPage.companyReport}</f:format.raw>
        </div>
      </div>
      <div class="unterweisung">
        <p id="unterweisung">
          Unterweisungen, betrieblicher Unterricht, sonstige Schulungen
        </p>
        <div class="content">
          <f:format.raw>{reportPage.instructions}</f:format.raw>
        </div>
      </div>
      <div class="schulisch">
        <p id="berufschule-themen">
          Berufsschule (Unterrichtsthemen)
        </p>
        <div class="content">
          <f:format.raw>{reportPage.businessSchoolReport}</f:format.raw>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="col6">
        <p class="datum-lastofweek">
          Datum: {reportPage.endDateTime -> f:format.date(format: 'd.m.Y')}
        </p>
        <p class="unterschrift">
          ______________________________________________________
        </p>
        <p>Unterschrift Auszubildener</p>
      </div>
      <div class="col6">
        <p class="datum-lastofweek">
          Datum: {reportPage.endDateTime -> f:format.date(format: 'd.m.Y')}
        </p>
        <p class="unterschrift">
          ______________________________________________________
        </p>
        <p>Unterschrift Ausbilder</p>
      </div>
    </div>
  </div>
	<f:link.action action="index" class="flow-link"><i class="fa fa-list fa-2x"></i></f:link.action>
  <f:link.action action="edit" arguments="{reportPage: reportPage}"><i class="fa fa-pencil fa-2x" title="Edit" ></i></f:link.action>
</f:section>
