html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q, blockquote {
    quotes: none
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

html *, html *::before, html *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html body {
    counter-reset: page;
    line-height: 1.5em;
    font-size: 14px;
    font-size: 1em;
    line-height: 1.5em
}

html body html {
    font-size: 131.25%;
    line-height: 1.5em
}

html body header {
    background-color: #CCCCCC
}

html body header img {
    margin: 10px
}

html body header div.header {
    max-width: 96em;
    margin-left: auto;
    margin-right: auto
}

html body header div.header::after {
    content: " ";
    display: block;
    clear: both
}

html body header div.header h1 {
    font-size: 3em;
    line-height: 1.5em
}

html body .page-wrapper {
    max-width: 96em;
    margin-left: auto;
    margin-right: auto
}

html body .page-wrapper::after {
    content: " ";
    display: block;
    clear: both
}

html body .page-wrapper table {
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%
}

html body .page-wrapper table th {
    text-align: center;
    font-weight: bold
}

html body .page-wrapper table td, html body .page-wrapper table th {
    padding: 2px
}

html body .page-wrapper table td.numeric, html body .page-wrapper table th.numeric {
    text-align: right
}

html body .page-wrapper table thead tr {
    border: 1px solid black;
    border-collapse: collapse
}

html body .page-wrapper table thead tr td {
    border-right: 1px solid black;
    text-align: center
}

html body .page-wrapper table thead tr td:first-of-type {
    text-align: left
}

html body .page-wrapper table tbody tr {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black
}

html body .page-wrapper table tbody tr td {
    border-right: 1px solid black;
    text-align: center
}

html body .page-wrapper table tbody tr td:first-of-type {
    text-align: left
}

html body .page-wrapper div.page-navigation ul {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

html body .page-wrapper div.page-navigation ul li {
    list-style: none none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px
}

html body .page-wrapper div.page-navigation ul li:first-child {
    padding-left: 0
}

html body .page-wrapper div.page-navigation ul li:last-child {
    padding-right: 0
}

html body .page-wrapper div.page-navigation ul li.last {
    padding-right: 0
}

html body .page-wrapper .report-page-wrapper {

    position: relative;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    margin-bottom: 3em;
}

html body .page-wrapper .report-page-wrapper:first-of-type {
    page-break-before: avoid;
}

html body .page-wrapper .report-page-wrapper .header {
    page-break-before: always;
    page-break-inside: avoid;
    display: flex;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%
}

html body .page-wrapper .report-page-wrapper .main {
    page-break-inside: auto;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    margin-top: 1.5em;
    /*height: 100%*/
}

html body .page-wrapper .report-page-wrapper .main div {
    page-break-inside: auto;
}

html body .page-wrapper .report-page-wrapper .footer {
    page-break-inside: avoid;
    page-break-after: always;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    margin-top: 1.5em
}

html body .page-wrapper .report-page-wrapper .header .col6 {
    flex: 1;
    width: 50%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    border: 1px solid black;
    /*height: 1*/
}

html body .page-wrapper .report-page-wrapper .header .col6:first-of-type {
    border-right: none
}

html body .page-wrapper .report-page-wrapper .header .col6 p.name span#name-angaben {
    font-weight: bold
}

html body .page-wrapper .report-page-wrapper .header .col6 p.name span#name-angaben:after {
    content: " "
}

html body .page-wrapper .report-page-wrapper .header .col6 p.name span#name-angaben span {
    white-space: nowrap
}

html body .page-wrapper .report-page-wrapper .header .col6 p.ausbildungsnachweisnummer:after {
    counter-increment: page;
    content: " " counter(page)
}

html body .page-wrapper .report-page-wrapper .header .col6 p.seitennummer:after {
    content: " " counter(page)
}



html body .page-wrapper .report-page-wrapper .main .betrieblich {
    height: 50%;
    border: 1px solid black
}

html body .page-wrapper .report-page-wrapper .main .betrieblich p#betriebliche-taetigkeit {
    border-bottom: 1px solid black
}

html body .page-wrapper .report-page-wrapper .main .unterweisung {
    height: 50%;
    border: 1px solid black;
    margin-top: 1.5em
}

html body .page-wrapper .report-page-wrapper .main .unterweisung p#unterweisung {
    border-bottom: 1px solid black
}

html body .page-wrapper .report-page-wrapper .main .schulisch {
    height: 50%;
    margin-top: 1.5em;
    border: 1px solid black
}

html body .page-wrapper .report-page-wrapper .main .schulisch p#berufschule-themen {
    border-bottom: 1px solid black
}



html body .page-wrapper .report-page-wrapper .footer div.col6 {
    width: 50%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    border: 1px solid black
}

html body .page-wrapper .report-page-wrapper .footer div.col6:first-of-type {
    border-right: none
}

html body .page-wrapper .report-page-wrapper .footer div.col6 p.datum-lastofweek {
    margin-bottom: 1.5em
}

div.content {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-left: 12px;
    padding-right: 12px
}

.f3-form-error {
    background-color: red
}

p.flow-block {
    display: block;
    font-size: 1.14286em;
    line-height: 1.3125em;
    margin-top: 1.5em;
    margin-bottom: 1.5em
}

a.flow-link {
    position: fixed;
    top: 30px;
    right: 20px
}

.fa-check-circle-o {
    color: green
}

.fa-times-circle-o {
    color: red
}

button {
    border: none;
    color: black;
    background-color: white
}

button[type="submit"] {
    margin-top: 1.5em;
    float: right
}

hr {
    border: none
}
