@media print {
    body {
        font-size: 0.875em;
        line-height: 1.71429em;
        border-collapse: collapse
    }

    body header {
        display: none
    }

    body a {
        display: none
    }

}
